<div class="contract-page">
    <md-content layout="row" layout-align="space-around" layout-padding="layout-padding" class="contract-form">
      <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2><span>Contract Form</span></h2>
          </div>
        </md-toolbar>
        <md-card-content>
          <form name="contractForm">
            <md-input-container class="md-block">
              <label>Enter Contract_Id</label>
              <input type="text" name="contractId" ng-model="contractId" placeholder="enter contract_id" required/>
              <div ng-messages="contractForm.contractId.$error">
                <div ng-message="required">Contract_Id Required</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Enter Contract_Description</label>
              <input type="text" name="contentDescription" ng-model="contentDescription" placeholder="enter contract_description" required/>
              <div ng-messages="contractForm.contentDescription.$error">
                <div ng-message="required">Contract Description Required</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Enter Contract_Money</label>
              <input type="text" name="contractMoney" ng-model="contractMoney" placeholder="enter contract_money" required/>
              <div ng-messages="contractForm.contractMoney.$error">
                <div ng-message="required">Contract Money Required</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Enter Exporter_Id</label>
              <input type="text" name="exporterId" ng-model="exporterId" placeholder="enter exporter_id" required/>
              <div ng-messages="contractForm.exporterId.$error">
                <div ng-message="required">Exporter_Id Required</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Enter Importer_Id</label>
              <input type="text" name="importerId" ng-model="importerId" placeholder="enter importer_id" required/>
              <div ng-messages="contractForm.importerId.$error">
                <div ng-message="required">Importer_Id Required</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Importer_Bank_Id</label>
              <input type="text" name="importerBankId" ng-model="importerBankId" placeholder="enter importer_bank_id" required/>
              <div ng-messages="contractForm.importerBankId.$error">
                <div ng-message="required">Importer_Bank_Id Required</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Enter Insurance_Id</label>
              <input type="text" name="insuranceId" ng-model="insuranceId" placeholder="enter insurance_id" required/>
              <div ng-messages="contractForm.insuranceId.$error">
                <div ng-message="required">Insurance_Id Required</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Enter Custom_Id</label>
              <input type="text" name="customId" ng-model="customId" placeholder="enter custom_id" required/>
              <div ng-messages="contractForm.customId.$error">
                <div ng-message="required">Custom_Id Required</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Enter Port_Of_Loadin</label>
                <input type="text" name="portOfLoadin" ng-model="portOfLoadin" placeholder="enter portOfloading" required/>
                <div ng-messages="contractForm.portOfLoadin.$error">
                  <div ng-message="required">Port_Of_Loading Required</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block">
                  <label>Enter Port_Of_Entry</label>
                  <input type="text" name="portOfEntry" ng-model="portOfEntry" placeholder="enter port_of_entry" required/>
                  <div ng-messages="contractForm.customId.$error">
                    <div ng-message="required">Port_Of_Entry Required</div>
                  </div>
                </md-input-container>
            <md-button ng-disabled="!contractForm.$valid" ng-click="submit()" class="md-raised md-primary ">&nbsp CREATE &nbsp
            </md-button>
          </form>
        </md-card-content>
      </md-card>
    </md-content>
    </div>
    