<div class="contract-page">
    <md-content layout="row"  class="contract-form">
      <md-card style="width: 450px;">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2><span>Contract Form</span></h2>
          </div>
        </md-toolbar>
        <md-card-content>
          <form name="contractForm">
            <md-input-container class="md-block">
              <label>Enter Contract Id</label>
              <input type="text" name="contractId" ng-model="contractId" placeholder="Enter contract id" required/>
              <div ng-messages="contractForm.contractId.$error">
                <div ng-message="required">Contract Id Required</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Enter Contract Description</label>
              <input type="text" name="contentDescription" ng-model="contentDescription" placeholder="enter contract description" required/>
              <div ng-messages="contractForm.contentDescription.$error">
                <div ng-message="required">Contract Description Required</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Enter Contract_Money</label>
              <input type="text" name="contractMoney" ng-model="contractMoney" placeholder="enter contract money" required/>
              <div ng-messages="contractForm.contractMoney.$error">
                <div ng-message="required">Contract Money Required</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Enter Exporter_Id</label>
              <input type="text" name="exporterId" ng-model="exporterId" placeholder="enter exporter id" required/>
              <div ng-messages="contractForm.exporterId.$error">
                <div ng-message="required">Exporter Id Required</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Enter Importer_Id</label>
              <input type="text" name="importerId" ng-model="importerId" placeholder="enter importer id" required/>
              <div ng-messages="contractForm.importerId.$error">
                <div ng-message="required">Importer Id Required</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Importer_Bank_Id</label>
              <input type="text" name="importerBankId" ng-model="importerBankId" placeholder="enter importer bank id" required/>
              <div ng-messages="contractForm.importerBankId.$error">
                <div ng-message="required">Importer Bank Id Required</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Enter Insurance_Id</label>
              <input type="text" name="insuranceId" ng-model="insuranceId" placeholder="enter insurance id" required/>
              <div ng-messages="contractForm.insuranceId.$error">
                <div ng-message="required">Insurance Id Required</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Enter Custom_Id</label>
              <input type="text" name="customId" ng-model="customId" placeholder="enter custom id" required/>
              <div ng-messages="contractForm.customId.$error">
                <div ng-message="required">Custom Id Required</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Enter Port_Of_Loadin</label>
                <input type="text" name="portOfLoadin" ng-model="portOfLoadin" placeholder="enter port Of loading" required/>
                <div ng-messages="contractForm.portOfLoadin.$error">
                  <div ng-message="required">Port Of Loading Required</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block">
                  <label>Enter Port_Of_Entry</label>
                  <input type="text" name="portOfEntry" ng-model="portOfEntry" placeholder="enter port of entry" required/>
                  <div ng-messages="contractForm.customId.$error">
                    <div ng-message="required">Port Of Entry Required</div>
                  </div>
                </md-input-container>
            <md-button ng-disabled="!contractForm.$valid" ng-click="onSubmitContract()" class="md-raised md-primary ">&nbsp CREATE &nbsp
            </md-button>
          </form>
        </md-card-content>
      </md-card>
    </md-content>
    </div>
    