<div layout="row" layout-wrap layout-align="center">
  <md-card ng-repeat="info in allMobilesInfo | matchedItemFilter: manufacturerArr: storageArr: osArr: cameraArr">
    <md-card-content layout="column" layout-align="center center">
      <img style="height:250px;width:220px" ng-src={{info.image.small}} class="md-card-image">
      <div class="md-toolbar-tools usableTool" layout-align="center center">{{info.name}}</div>
      <div class="rating">
        <span class="rating-label">Rating:</span>
        <div ng-repeat="star in stars" ng-init="starIndex=$index">
          <md-icon ng-style="{'color':(starIndex<(info.rating)) ? 'gold':'lightgray'}" md-svg-icon="{{star.url}}"></md-icon>
        </div>
      </div>
      <div class="card-info">
        <p>price : ${{info.price}}</p>
        <p>Manufacturer : {{info.specs.manufacturer}}</p>
        <p>Storage : {{info.specs.storage}} GB</p>
        <p>Os : {{info.specs.os}}</p>
        <p>Camera : {{info.specs.camera}} Pixel</p>
      </div>
      <div>
        <md-button class="md-primary md-raised" style="position:unset" ng-click="showMore($event,info)">Buy</md-button>

        <md-button class="md-primary md-raised" style="position:unset" ng-click="onAddToCard(info)">add cart</md-button>
      </div>
    </md-card-content>
  </md-card>
  <div ng-if="(allMobilesInfo|matchedItemFilter:manufacturerArr: storageArr: osArr: cameraArr).length===0">
    <h2>Oops!!!!... data not found</h2>
  </div>
</div>
