<md-dialog aria-lable="Mobile">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{data.name}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" style="width: 65px;" ng-click="cancel()">close</md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>

    <div class="md-dialog-content" style="text-align: center;">
      <img style="margin:auto; max-width:50%;max-height:150%" ng-src={{data.image.large}}>

      <p>{{data.description}}</p>

    </div>
  </md-dialog-content>
</md-dialog>
