<!-- <div class="contract-page">
  <ul>
    <li class="contract-list" ng-repeat="contract in data">
        <div class="user-model-info">
            <label class="info-label">Contract Id</label>
            <p class="info-semibold">:&ensp;{{contract.contractId}}</p>
        </div>
        <div class="user-model-info">
            <label class="info-label">contentDescription</label>
            <p class="info-semibold">:&ensp;{{contract.contentDescription}}</p>
        </div>
        <div class="user-model-info">
            <label class="info-label">contractMoney</label>
            <p class="info-semibold">:&ensp;{{contract.contractMoney}}</p>
        </div>
        <div class="user-model-info">
            <label class="info-label">exporterId</label>
            <p class="info-semibold">:&ensp;{{contract.exporterId}}</p>
        </div>
        <div class="user-model-info">
            <label class="info-label">importerId</label>
            <p class="info-semibold">:&ensp;{{contract.importerId}}</p>
        </div>
        <div class="user-model-info">
            <label class="info-label">importerBankId</label>
            <p class="info-semibold">:&ensp;{{contract.importerBankId}}</p>
        </div>
        <div class="user-model-info">
            <label class="info-label">insuranceId</label>
            <p class="info-semibold">:&ensp;{{contract.insuranceId}}</p>
        </div>
        <div class="user-model-info">
            <label class="info-label">customId</label>
            <p class="info-semibold">:&ensp;{{contract.customId}}</p>
        </div>
        <div class="user-model-info">
            <label class="info-label">exporterCheck</label>
            <p class="info-semibold">:&ensp;{{contract.exporterCheck}}</p>
        </div>
        <div class="user-model-info">
            <label class="info-label">importerCheck</label>
            <p class="info-semibold">:&ensp;{{contract.importerCheck}}</p>
        </div>
        <div class="user-model-info">
            <label class="info-label">customCheck</label>
            <p class="info-semibold">:&ensp;{{contract.customCheck}}</p>
        </div>
        <div class="user-model-info">
            <label class="info-label">insuranceCheck</label>
            <p class="info-semibold">:&ensp;{{contract.insuranceCheck}}</p>
        </div>
        <div class="user-model-info">
            <label class="info-label">importerBankCheck</label>
            <p class="info-semibold">:&ensp;{{contract.importerBankCheck}}</p>
        </div>

    </li>
  </ul>
</div> -->
<div class="contract-page">
    <table>
        <h4 class="login-user-header">Contract Details</h4>
        <tr>
            <th> Id</th>
            <th> Description</th>
            <th>Money</th>
            <th>ExporterId</th>
            <th>ImporterId</th>
            <th>ImporterBankId</th>
            <th>InsuranceId</th>
            <th>CustomId</th>
            <th>Exporter</th>
            <th>Custom</th>
            <th>Insurance</th>
            <th>Importer</th>
            <th>ImporterBank</th>
        </tr>

        <tr class="contract-list" ng-repeat="contract in data">
            <td>{{ contract.contractId }}</td>
            <td>{{ contract.contentDescription }}</td>
            <td>{{ contract.contractMoney}}</td>
            <td>{{ contract.exporterId}}</td>
            <td>{{ contract.importerId}}</td>
            <td>{{ contract.importerBankId}}</td>
            <td>{{ contract.insuranceId}}</td>
            <td>{{ contract.customId}}</td>
            <td>{{ contract.exporterCheck}}</td>
            <td>{{ contract.customCheck}}</td>
            <td>{{ contract.insuranceCheck}}</td>
            <td>{{ contract.importerCheck}}</td>
            <td>{{ contract.importerBankCheck}}</td>
        </tr>

    </table>

</div>

<!-- <md-icon md-svg-src="bower_components/material-design-icons/action/svg/design/ic_autorenew_48px.svg"></md-icon> -->
<!-- <md-icon md-svg-src="bower_components/material-design-icons/action/svg/design/ic_assignment_turned_in_48px.svg"></md-icon> -->