<!-- <div class="contract-page">
  <ul>
    <li class="contract-list" ng-repeat="contract in data">
        <div class="user-model-info">
            <label class="info-label">Contract Id</label>
            <p class="info-semibold">:&ensp;{{contract.contractId}}</p>
        </div>
        <div class="user-model-info">
            <label class="info-label">contentDescription</label>
            <p class="info-semibold">:&ensp;{{contract.contentDescription}}</p>
        </div>
        <div class="user-model-info">
            <label class="info-label">contractMoney</label>
            <p class="info-semibold">:&ensp;{{contract.contractMoney}}</p>
        </div>
        <div class="user-model-info">
            <label class="info-label">exporterId</label>
            <p class="info-semibold">:&ensp;{{contract.exporterId}}</p>
        </div>
        <div class="user-model-info">
            <label class="info-label">importerId</label>
            <p class="info-semibold">:&ensp;{{contract.importerId}}</p>
        </div>
        <div class="user-model-info">
            <label class="info-label">importerBankId</label>
            <p class="info-semibold">:&ensp;{{contract.importerBankId}}</p>
        </div>
        <div class="user-model-info">
            <label class="info-label">insuranceId</label>
            <p class="info-semibold">:&ensp;{{contract.insuranceId}}</p>
        </div>
        <div class="user-model-info">
            <label class="info-label">customId</label>
            <p class="info-semibold">:&ensp;{{contract.customId}}</p>
        </div>
        <div class="user-model-info">
            <label class="info-label">exporterCheck</label>
            <p class="info-semibold">:&ensp;{{contract.exporterCheck}}</p>
        </div>
        <div class="user-model-info">
            <label class="info-label">importerCheck</label>
            <p class="info-semibold">:&ensp;{{contract.importerCheck}}</p>
        </div>
        <div class="user-model-info">
            <label class="info-label">customCheck</label>
            <p class="info-semibold">:&ensp;{{contract.customCheck}}</p>
        </div>
        <div class="user-model-info">
            <label class="info-label">insuranceCheck</label>
            <p class="info-semibold">:&ensp;{{contract.insuranceCheck}}</p>
        </div>
        <div class="user-model-info">
            <label class="info-label">importerBankCheck</label>
            <p class="info-semibold">:&ensp;{{contract.importerBankCheck}}</p>
        </div>

    </li>
  </ul>
</div> -->
<div class="contract-page">
    <table>
        <!-- <h4 class="login-user-header">Contract Details</h4> -->
        <tr>
            <th> Id</th>
            <th> Description</th>
            <th>Money</th>
            <th>Loading</th>
            <th>Entry</th>
            <th>ExporterId</th>
            <th>ImporterId</th>
            <th>ImporterBankId</th>
            <th>InsuranceId</th>
            <th>CustomId</th>
            <th>ExporterCheck</th>
            <th>Custom Check</th>
            <th>Insurance Check</th>
            <th>Importer Check</th>
            <th>ImporterBank Check</th>
        </tr>

        <tr class="contract-list" ng-repeat="contract in data">
            <td>{{ contract.contractId }}</td>
            <td>{{ contract.contentDescription }}</td>
            <td>{{ contract.contractMoney}}</td>
            <td>{{ contract.portOfLoadin}}</td>
            <td>{{ contract.portOfEntry}}</td>
            <td>{{ contract.exporterId}}</td>
            <td>{{ contract.importerId}}</td>
            <td>{{ contract.importerBankId}}</td>
            <td>{{ contract.insuranceId}}</td>
            <td>{{ contract.customId}}</td>
            <td ng-if="contract.exporterCheck==true">
                <md-icon md-svg-src="bower_components/material-design-icons/action/svg/design/ic_done_48px.svg"></md-icon>
            </td>

            <td ng-if="contract.customCheck==true">
                <md-icon md-svg-src="bower_components/material-design-icons/action/svg/design/ic_done_48px.svg"></md-icon>
            </td>
            <td ng-if="contract.customCheck==false">
                <md-icon md-svg-src="bower_components/material-design-icons/action/svg/design/ic_autorenew_48px.svg"></md-icon>
            </td>
            <td ng-if="contract.insuranceCheck==true">
                <md-icon md-svg-src="bower_components/material-design-icons/action/svg/design/ic_done_48px.svg"></md-icon>
            </td>
            <td ng-if="contract.insuranceCheck==false">
                <md-icon md-svg-src="bower_components/material-design-icons/action/svg/design/ic_autorenew_48px.svg"></md-icon>
            </td>
            <td ng-if="contract.importerCheck==true">
                <md-icon md-svg-src="bower_components/material-design-icons/action/svg/design/ic_done_48px.svg"></md-icon>
            </td>
            <td ng-if="contract.importerCheck==false">
                <md-icon md-svg-src="bower_components/material-design-icons/action/svg/design/ic_autorenew_48px.svg"></md-icon>
            </td>
            <td ng-if="contract.importerBankCheck==true">
                <md-icon md-svg-src="bower_components/material-design-icons/action/svg/design/ic_done_48px.svg"></md-icon>
            </td>
            <td ng-if="contract.importerBankCheck==false">
                <md-icon md-svg-src="bower_components/material-design-icons/action/svg/design/ic_autorenew_48px.svg"></md-icon>
            </td>
            <td ng-if="isImporterBank==false">
                <md-icon md-svg-src="bower_components/material-design-icons/action/svg/design/ic_highlight_off_48px.svg"></md-icon>
            </td>
        </tr>

    </table>

</div>


<!-- bower_components/material-design-icons/action/svg/design/ic_highlight_off_48px.svg -->