<div class="app-header">
  <toolbar></toolbar>
</div>
<div class="home-wizard">
  <div class="contract-btn">
    <div layout="row">
      <div class="btn-wrapper">
        <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="onCreateContract($event)">
          <md-icon md-svg-src="bower_components/material-design-icons/action/svg/design/ic_account_circle_48px.svg">
          </md-icon>
        </md-button>
      </div>
      <div class="btn-wrapper">
        <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="onClickAllContract($event)">
          <md-icon md-svg-src="bower_components/material-design-icons/action/svg/design/ic_supervisor_account_48px.svg"></md-icon>
        </md-button>
      </div>
      <div class="btn-wrapper">
        <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="onClickCurrentTransaction($event)">
          <md-icon md-svg-src="bower_components/material-design-icons/action/svg/design/ic_assignment_return_48px.svg"></md-icon>
        </md-button>
      </div>
      <!-- <div class="btn-wrapper">
        <md-button class="md-fab md-primary md-hue-2" aria-label="Profile">
          <md-icon md-svg-src="bower_components/material-design-icons/action/svg/design/ic_assignment_turned_in_48px.svg"></md-icon>
        </md-button>
      </div> -->
      <div class="btn-wrapper">
        <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="showCurrentBalance($event)">
          <md-icon md-svg-src="bower_components/material-design-icons/action/svg/design/ic_account_balance_48px.svg"></md-icon>
        </md-button>
      </div>
    </div>
    <div class="btn-name-label">
      <p class="label-text">Create Contract</p>
      <p class="label-text"> All Contract</p>
      <p class="label-text">Current Transaction</p>
      <!-- <p class="label-text">All Transaction</p> -->
      <p class="label-text">Current Balance</p>
    </div>
  </div>
  <div layout="row" class="login-info" layout-wrap layout-align="center">
    <md-card>
      <h4 class="login-user-header">User Details</h4>
      <md-card-content layout="column" layout-align="center center">
        <div class="card-usermodel" style="margin-top: -28px;">
          <div class="user-model-info">
            <label class="info-label">Name</label>
            <p class="info-semibold">:&ensp;{{loginUserData.name}}</p>
          </div>
          <div class="user-model-info">
            <label class="info-label">Role</label>
            <p class="info-semibold">:&ensp;{{loginUserData.role}}</p>
          </div>
          <div class="user-model-info">
            <label class="info-label">Bank Name</label>
            <p class="info-semibold">:&ensp;{{loginUserData.bankname}}</p>
          </div>
          <div class="user-model-info">
            <label class="info-label">Acc No</label>
            <p class="info-semibold">:&ensp;{{loginUserData.accountnumber}}</p>
          </div>

        </div>
      </md-card-content>
    </md-card>
  </div>
</div>

<div class="transaction-progress" ng-if="isCurentTransaction">
  <div class="progress-icon exporter">
    <span class="progress-label">Exporter</span>
  </div>
  <span class="connector"></span>
  <div class="progress-icon" ng-class="{'accepted': isCustom === true, 'rejected': isCustom === false}" ng-click="onSelectItem('custom')">
    <span class="progress-label"> Custom</span>
    <!-- <label class="contract-status">{{'Accepted'}}</label> -->
  </div>
  <span class="connector"></span>
  <div class="progress-icon" ng-class="{'accepted': isInsurance === true, 'rejected': isInsurance === false}" ng-click="onSelectItem('insurance')">
    <span class="progress-label">Insurance</span>
    <!-- <label class="contract-status">{{'Accepted'}}</label> -->
  </div>
  <span class="connector"></span>
  <div class="progress-icon" ng-class="{'accepted': isImporter === true, 'rejected': isImporter === false}" ng-click="onSelectItem('importer')">
    <span class="progress-label"></span>Importer</span>
    <!-- <label class="contract-status">{{'Accepted'}}</label> -->
  </div>
  <span class="connector"></span>
  <div class="progress-icon" ng-class="{'accepted': isImporterBank === true, 'rejected': isImporterBank === false}" ng-click="onSelectItem('importerBank')">
    <span class="progress-label">ImporterBank</span>
    <!-- <label class="contract-status">{{'Accepted'}}</label> -->
  </div>

</div>