<div class="login-page">
<md-content layout="row" layout-align="space-around" layout-padding="layout-padding" class="login-form">
  <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2><span>Login Form</span></h2>
      </div>
    </md-toolbar>
    <md-card-content>
      <form name="loginForm">
        <md-input-container class="md-block">
          <label>Login</label>
          <input type="text" name="email" ng-model="useremail" placeholder="Enter email" ng-pattern="/^\w[^_]+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/" required/>
          <div ng-messages="loginForm.email.$error">
            <div ng-message="required">Emailid Required</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Password</label>
          <input type="password" ng-change="comparePassword(password,useremail)" name="password" ng-model="password" placeholder="password" required minLength="6" maxlength="16" />
          <div ng-messages="loginForm.password.$error">
            <div ng-message="required">Password Required(min length:06, maxlength:16)</div>
          </div>
        </md-input-container>
        <md-button ng-disabled="!loginForm.$valid" ng-click="submit() " class="md-raised md-primary ">&nbsp Login &nbsp
        </md-button>
        <a href="#!/register" class="btn btn-link">Register</a>
        <br></br>
        <a href="#!/userverify"><p style="text-align:center">Forgot_Password</a>
      </form>
    </md-card-content>
  </md-card>
</md-content>
</div>
