<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Settings" ng-disabled="false">
      <md-icon md-svg-icon="bower_components/material-design-icons/image/svg/design/menu.svg"></md-icon>
    </md-button>
    <span class="md-toolbar-tools">Welcome TO Trade_Finance</span>
    <!-- <md-icon md-svg-icon="bower_components/material-design-icons/action/svg/design/carrt.svg"> -->
    </md-icon>
    <!-- <span class="add-item" ng-click="showItems($event, addedItemsArr)">{{addedItemsArr.length}}</span> -->
    <md-button class="md-button" style="test-align:right" ng-click="onLogout()">Logout</md-button>
  </div>
</md-toolbar>
