<div layout="row" layout-wrap layout-align="center">
  <md-card ng-repeat="usermodel in alluserInfo">
    <md-card-content layout="column" layout-align="center center">
      <div class="card-usermodel">
                <p>Name: ${{usermodel.name}}</p>
                <p>Role: {{usermodel.role}}</p> 
                <p>Bank_Name: {{usermodel.bankname}}</p>
                <p>Acc.Num: {{usermodel.accountnumber}}</p>
                <p>Balance: {{usermodel.balance</p>
      </div>
    </md-card-content>
  </md-card>
</div>