<div class="login-page">
    <md-content layout="row" layout-align="space-around" layout-padding="layout-padding" class="login-form">
      <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2><span>Balance </span></h2>
          </div>
        </md-toolbar>
        <md-card-content>
          <form name="balanceForm">
            <md-input-container class="md-block">
              <label>Enter Account Number</label>
              <input type="text" name="accountnumber" ng-model="accountnumber" placeholder="Enter Account_number"required/>
              <div ng-messages="balanceForm.accountnumber.$error">
                <div ng-message="required"> Required</div>
              </div>
            </md-input-container>
            <md-button ng-disabled="!balanceForm.$valid" ng-click="submit()" class="md-raised md-primary ">&nbsp enter &nbsp
            </md-button>
          </form>
        </md-card-content>
      </md-card>
    </md-content>
    </div>